<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcc.timeshare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/timeshare"
        android:label="@string/app_name" >
        <activity
            android:name=".Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name=".listActivity"/>
         <activity android:name=".Main"/>
         <activity android:name=".MainTab"/>
         <activity android:name=".firstActivity"/>
          <activity android:name=".moreActivity"/>
           <activity android:name=".createActivity"/>
         <activity android:name=".myActivity"/>
          <activity android:name=".register"/>
          <activity android:name=".newDoor"/>
         <activity android:name=".ShakeActivity"/>
    </application>

</manifest>